<%- model_class = @atividade.class -%>
<h1><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Editar #{model_class.model_name.human}") %></h1>
<%= render :partial => 'form' %>
